body {
    padding: 15px;
    margin :0;
    background-color: #202028;
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    text-align:center;
}

.tetris {
    border: solid 0.2em #fff;
    height: 85vh;
    max-width: 240px;
    width: 48vw;
}
.container {
    justify-content: space-evenly;
}

.flex {
    display: flex;
}

.controls {
    justify-content: center;
    flex-direction: column;
}
.controls-arrow {
    margin-bottom: 56px;
}
.right-left-arrow {
    width: 82px;
    justify-content: space-between;
}

/* @media(max-width: ) */